<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Налаштування RollingFileAppender для ротації файлів логів -->
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Ротація кожного дня -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <!-- Видалення файлів старше 7 днів -->
                <Delete basePath="logs" maxDepth="1">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Логування в консоль -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Логер для класу Horse з рівнем DEBUG -->
        <Logger name="Horse" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <!-- Логер для класу Hippodrome з рівнем ERROR -->
        <Logger name="Hippodrome" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <!-- Кореневий логер для всієї програми з рівнем INFO -->
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>